#side-bar{
    background-color: #303647;
    width: 13rem;
    min-width: 13rem;
    bottom: 0;
    overflow-y: scroll;
    margin: 0;
    border-right: solid 2px #93fbff;
    opacity: 0;

    animation-name: fadeInAnime;
    animation-fill-mode:forwards;
    animation-duration: 0.5s;
    animation-timing-function:ease;
    animation-delay: 1.0s;
}

#side-bar li:hover{
    background-color: #2c3141;
    cursor: pointer;
}

@media screen and (max-width:500px) { /*phone*/
    #side-bar{
        display: none;
    }
}