#side-bar{
    width: 14rem;
    min-width: 12rem;
    bottom: 0;
    overflow-y: scroll;
    margin: 0;
    border-right: solid 2px #93fbff;
    opacity: 0;

    animation-name: fadeInAnime;
    animation-fill-mode:forwards;
    animation-duration: 0.5s;
    animation-timing-function:ease;
    animation-delay: 1.0s;
}

#side-menu{
    max-height: min-content;
}

#side-menu li:hover{
    background-color: #747474;
}

#side-menu a{
    text-decoration: none;
    color: #dbdbdb;
}

@media screen and (max-width:500px) { /*phone*/
    #side-bar{
        display: none;
    }
}