#side-menu{
    width: 13rem;
    background-color: #000000;
    height: 100vh;
    border-right: solid 2px #93fbff;
    opacity: 0;

    animation-name: fadeInAnime;
    animation-fill-mode:forwards;
    animation-duration: 0.5s;
    animation-timing-function:ease;
    animation-delay: 1.0s;
}

#side-menu li:hover{
    background-color: #747474;
}

#side-menu a{
    text-decoration: none;
    color: #dbdbdb;
}