html{
    height: 100%;
}

body{
    height: 100%;
    background-color: rgb(42, 37, 73);
}

.fadeIn {
    animation-name: fadeInAnime;
    animation-fill-mode:forwards;
    animation-duration:4s;
    animation-iteration-count:1;
    animation-timing-function:ease;
    animation-delay: 0.0s;
    animation-direction:normal;
    }
    
@keyframes fadeInAnime{
    0% {
    opacity: 0;
    }

    100% {
    opacity: 1;
    }
}

#container{
    height: 95%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#content{
    color:white;
    text-align: center;
    font-size: 300%;
    backdrop-filter: blur(3px);
}

#title{
    padding-bottom: 0px;
    margin-bottom: 0;
    font-size: 160%;
    border-bottom: solid 1px #c5eaff;
}

#powered{
    margin: 0%;
    margin-bottom: 3%;
    font-size: 68%;
    
}

#enter{
    color: aliceblue;
    border-radius: 55px;
    border: solid 7px #c5eaff;
    background: rgba(0,0,0,0);
    font-size: 170%;
    padding-left: 5%;
    padding-right: 6%;

    animation-name: frush;
    animation-fill-mode:forwards;
    animation-duration:2s;
    animation-iteration-count:infinite;
    animation-timing-function:ease;
    animation-delay: 4s;
    animation-direction:normal;
}

@keyframes frush{
    0% {
    opacity: 0;
    }

    100% {
    opacity: 1;

    }
}

#enter:hover{
    background-color: #c5eaff;
    color: rgb(54, 54, 54);
}