<style>
    ul{
        margin: 0;
        margin-top: 1.5rem;
        list-style: none;
        padding: 0;
    }
    .side-list{
        padding: 1.8rem;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
    }
    a{
        text-decoration: none;
        font-size: 1.3rem;
        font-weight: lighter;
        color: #dbdbdb;
    }
</style>
<ul>
    <li class="side-list"><a href="">Home</a></li>
    <li class="side-list"><a href="">Products</a></li>
    <li class="side-list"><a href="">Article</a></li>

</ul>