::-webkit-scrollbar{
    width: 10px;
 }
 .side ::-webkit-scrollbar{
    width: 6px;
 }
 .side ::-webkit-scrollbar-track{
    background-color: #7b838f; 
 }
::-webkit-scrollbar-track{
    background-color: #262d38;
 }
::-webkit-scrollbar-thumb{
    background-color: #53585e;
 }

html{
    height: 100%;
    scroll-behavior: smooth;
}

 body{
    background-color: rgb(17, 17, 17);
    height: 100%;
    margin: 0px;
    color: #ffffff;
 }
 
#totop{
    width: 80px;
    border-radius: 13px;
    position:fixed; 
    bottom:5px; 
    right:5px;
}

 .container{
    display: flex;
    justify-content: center;
 }

 .contents {
    height: fit-content;
    width: 48vw;
    margin-right: 2%;
    padding: 4rem;
 }

 h1{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 250%;
    margin-top: 0;
 }

 #preview-img{
    width:100%
 }

 h2 {
    color: #ffffff;
    padding: 10px;
    padding-left: 1rem;
    margin-top: 70px;
    margin-bottom: 25px;
    border-left: 7px solid #0cacdd;
    font-size: 26px;
  }

h3{
    line-height: 40px;
    font-weight: normal;
}

.side {
    background-color: #3b3b3b;
    height: fit-content;
    max-height: 75vh;
    width: 15%;
    padding: 1rem;
    padding-top: 1.3rem;
    position: sticky;
    position: -webkit-sticky;
    top: 50px;
 }

.list{
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: normal;
    max-height: 72vh;
    padding-left: 13px;
    padding-right: 5px;
    margin: 10px;
    list-style: none;
    font-size: 103%;
    line-height: 32px;
}

.list a{
    color: rgb(255, 255, 255);
}
    
.commandkind{
    border-radius: 10px;
    color: #ffffff;
    background-color: #223653;
    width: fit-content;
    margin-left: 20px;
    font-size: 21px;
    padding: 4px;
    padding-left: 17px;
    padding-right: 17px;
}

#commandList ul{
    list-style: none;
    line-height: 35px;
}

.command{
    padding-top: 25px;
    font-size: 20px;
    color: rgb(139, 183, 233);
    font-style: italic;
    
}

.option{
    padding-left: 15px;
    padding-right: 30px;
    border-left: 6px solid #fdba02;
    border-bottom: 4px solid #000000;
    font-size: 25px;
}

.space{
    margin: 20px;
}

.HowToSub{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bolder;
    padding-left: 15px;
    border-left:  5px solid #fdba02;
    list-style-position: inside;
    list-style: none;
}

.type-img{
    width: 25vw;
}

.type-describe{
    width: 43vw;
}

.type-img, .type-describe{
    margin-left: 2vw;
}

footer{
    text-align: center;
    font-size: 1.2rem;
    margin: 2rem;
    color: rgb(71, 71, 71);
}

@media (max-width: 1200px) {
    .contents{
        width: 65vw;
        margin-right: 0;
    }
    .side{
        display: none; 
    }
 }