<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link href="style.css" rel="stylesheet" type="text/css" media="all">
    <title>How to Use TYPE bot</title>
</head>
<body>
    <div class="container">
        <div class="contents">
            <h1 id="Title">TYPE Bot の使い方</h1>

            <h2 id="intro">概要</h2>
            <h3>
                MBTIテストのような性格タイプテストを簡易的に行えます。
            </h3>

            <h2 id="install">導入方法</h2>
            <h3>
                <ol>
                    <li><a href="https://discord.com/oauth2/authorize?client_id=1220978755988881508">こちら</a>のURLにアクセスして、ダイアログに従ってサーバーへ招待</li>
                    <li>「type-bot」という名前のチャンネルを作成（ここに診断結果を投稿出来ます）</li>
                </ol>
            </h3>

            <h2 id="howto">利用方法</h2>
            <h3>
                <ol>
                    <li id="makeS" class="HowToSub">キャラクターシートを作成</li>
                    <ul>
                        <li><a href="https://iachara.com/" target="_blank">いあきゃら</a>でキャラクターシートを作成</li>
                        <li>キャラ出力 → すべての技能を出力・CCB を選択 → ココフォリア駒出力</li>
                    </ul>
                    <li id="registS" class="HowToSub">キャラクターシートを登録</li>
                    <ul>
                        <li>プラグインをインストール後、サーバーを起動して、起動完了したら停止する</li>
                        <li>plugins/MCTRPGManager/pieces.jsonが作成されているのを確認</li>
                        <li>pieces.jsonの最外の[　]内に先程コピーしたココフォリア駒を貼付</li>
                        ※必ず「 , 」で区切って下さい
                    </ul>
                    <li id="npc" class="HowToSub">NPCを登録</li>
                    <ul>
                        <li>NPCがいる場合も、全てキャラクターシートで登録する</li>
                        <ul>
                            <li>PCと同様にpieces.jsonに貼り付ける</li>
                            <li>同じステータスのNPCを複数使いたい場合でも、nameのみ変更してNPCの数だけ登録する</li>
                            <li>pieces.jsonにはPCを含めた登場人物の数だけ駒データが登録されることになる</li>
                        </ul>
                    </ul>
                    <li id="session" class="HowToSub">セッションを開始</li>
                    <ul>
                        <li>サーバーを起動し、/session start でセッションを開始する</li>
                        <ul>
                            <li>セッションを開始するとcharacter_stat.jsonが作成されます</li>
                            <li>セッションを終了するとcharacter_stat.jsonは削除されます</li>
                        </ul>
                    </ul>
                    <li id="charC" class="HowToSub">キャラクター設定</li>
                    <ul>
                        <li>/registchar [プレイヤー名] [キャラクター名]でマイクラのプレイヤーとキャラクターを紐づける</li>
                        ※サーバーに参加しているオンラインプレイヤーでないと紐づけ出来ません
                        <li>/tnpc [ID] [キャラクター名] でNPCを適当なIDを決めて登録します</li>
                        <ul><li>登録後は、/tnpc summon ID で召喚、/tnpc remove ID で消去が出来ます</li></ul>
                    </ul>
                </ol>
                <div class="space">　</div>
                <span class="option">Botが上手く動作しない場合</span>
                <p>Botが上手く動作しない場合以下を確認してみてください</p>
                <ul>
                    <li>Botの持つ権限が足りているか</li>
                    <li>チャンネルで個別に権限を設定している場合、当該チャンネルにおけるロールの権限が足りているか</li>
                </ul>
            </h3>

            <h2 id="comL">コマンドリスト</h2>
            <h3 id="commandList">
                <div class="commandkind" id="pcom">プレイヤー用コマンド</div>
                <ul>
                    <li class="command">/dice [ (0-999)(d or D)(0-999) ]</li>
                    <ul><li>ダイスを振ります（例：/dice 1d10）</li></ul>
                    <li class="command">/commanddice [ 技能名 ]</li>
                    <ul><li>技能ダイスを振ります（例：/commanddice 目星）</li></ul>
                </ul>

                <div class="commandkind" id="ocom">OP専用コマンド</div>
                <ul>
                    <li class="command">/session [ start or end ]</li>
                    <ul><li>セッションを開始、または終了します</li></ul>
                    <li class="command">/registchar [ プレイヤー名 ] [ キャラクター名 ]</li>
                    <ul><li>プレイヤーとキャラクターの紐づけをします</li></ul>
                    <li class="command">/removechar [ キャラクター名 ]</li>
                    <ul><li>プレイヤーとキャラクターの紐づけを解除します</li></ul>
                    <li class="command">/updatestat [ キャラクター名 ] [ ステータス名 ] [ 技能名 or 値(0-999) ] [ 値(0-999) ]</li>
                    <ul><li>キャラクターの技能やステータスの値を変更します</li></ul>
                    <li class="command">/tnpc [ モード ] [ キャラクターID ] *[ キャラクター名 ]</li>
                    <ul>
                        <li>NPCを召喚します</li>
                        <li>モード</li>
                        <ul>
                            <li>register</li>
                            <ul><li>- IDを決めてNPCを登録します</li></ul>
                            <li>summon</li>
                            <ul><li>- IDを指定して、登録済のNPCを自分と同じ位置に召喚します</li></ul>
                            <li>remove</li>
                            <ul><li>- IDを指定して、召喚済のNPCを消去します</li></ul>
                        </ul>
                    </ul>
                    <li class="command">/secretdice [ (0-999)(d or D)(0-999) ]</li>
                    <ul>
                        <li>シークレットダイスを振ります</li>
                        <li>他のプレイヤーには結果が表示されません</li>
                    </ul>
                </ul>
            </h3>

        </div>


        <div class="side">
            <ul class="list">
                <li><a href="#intro">概要</a></li>
                <li><a href="#install">インストール方法</a></li>
                <li><a href="#howto">利用方法</a></li>
                <ol>
                    <li><a href="#makeS">キャラクターシートを作成</a></li>
                    <li><a href="#registS">キャラクターシートを登録</a></li>
                    <li><a href="#npc">NPCを登録</a></li>
                    <li><a href="#session">セッションを開始</a></li>
                    <li><a href="#charC">キャラクター設定</a></li>
                </ol>
                <li><a href="#comL">コマンドリスト</a></li>
                <ul>
                    <li><a href="#pcom">プレイヤー用コマンド</a></li>
                    <li><a href="#ocom">OP専用コマンド</a></li>
                </ul>
            </ul>
        </div>
    </div>
    <footer>© 2024 Naru. All Rights Reserved.</footer>
</body>
</html>
