<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link href="style.css" rel="stylesheet" type="text/css" media="all">
    <title>template</title>
</head>
<body>

    <a href="#Title"><img src="/images/totop.png" id="totop" title="トップへ"></a>
    
    <div class="container">

        <div class="contents">
            <h1 id="Title">タイトル</h1>

            <h2 >見出し1</h2>
            <h3>見出し1.1</h3>
            <h3>見出し1.2</h3>

            <h2>見出し2</h2>
            <h3>見出し2.1</h3>
            <h3>見出し2.2</h3>

        </div>

        <div class="side">
            <div class="listTitle">目次</div>

            <ul class="list">
                <li><a href="">見出し1</a></li>
                <ul>
                    <li><a href="">見出し1.1</a></li>
                    <li><a href="">見出し1.2</a></li>
                </ul>
                <li><a href="">見出し2</a></li>
                <ul>
                    <li><a href="">見出し2.1</a></li>
                    <li><a href="">見出し2.2</a></li>
                </ul>    
            </ul>

            <img src="/images/ngif.gif" class="naruneko" title="Naruneko">

        </div>
        
    </div>
</body>
</html>