<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link href="typebot.css" rel="stylesheet" type="text/css" media="all">
    <title>TYPE Bot 解説</title>
</head>
<body>
    <div class="container">
        <div class="contents">
            <h1 id="Title">TYPE Bot（性格タイプ診断Bot）</h1>
            <img src="/contents/mycontents/typebot/images/preview.jpg" id="preview-img" alt="">

            <h2 id="intro">概要</h2>
            <h3>
                Discordのチャット欄で簡易的な性格タイプテストを行えるようにするBOTです。<br>
                20問のあなたの性格や行動に関する簡単な質問に答えるだけで性格タイプを知ることが出来ます。
            </h3>

            <h2 id="install">導入方法</h2>
            <h3>
                <ol>
                    <li><a href="https://discord.com/oauth2/authorize?client_id=1220978755988881508">こちら</a>のURLにアクセスして、ダイアログに従ってサーバーへ招待</li>
                    <li>「type-bot」という名前のチャンネルを作成（ここに診断結果を投稿出来ます）</li>
                </ol>
            </h3>

            <h2 id="comL">コマンドリスト</h2>
            <h3 id="commandList">
                <ul>
                    <li class="command">/type [ lang( jp or en) ]</li>
                    <ul><li>性格診断テストを開始します</li></ul>
                    <img src="/contents/mycontents/typebot/images/q.png" class="type-img" alt="">
                    <li class="command">/desc [ lang( jp or en) ]</li>
                    <ul><li>各性格タイプの簡易的な説明を表示します</li></ul>
                    <img src="/contents/mycontents/typebot/images/desc.png" class="type-img" alt="">
                </ul>
            </h3>

            <h2 id="types">各タイプ</h2>
            <h3>
                <ul>
                    <li id="INTJ" class="HowToSub">INTJ</li>
                    <p class="type-describe">戦略的で創造的な思考を持ち、目標に向かって計画的に行動します。論理的な分析力を駆使し、革新的なアイデアを実現します。自己主張が強く、自らのビジョンを追求します。</p>
                    <img src="/contents/mycontents/typebot/images/types/INTJ.JPG" class="type-img" alt="">
                </ul>
                <ul>
                    <li id="INTP" class="HowToSub">INTP</li>
                    <p class="type-describe">論理的で分析的な思考力を持ち、独創的な問題解決に優れます。柔軟性があり、新しいアイデアや理論に対する探究心が旺盛です。独立心が強く、自己表現の自由を重視します。</p>
                    <img src="/contents/mycontents/typebot/images/types/INTP.JPG" class="type-img" alt="">
                </ul>
                <ul>
                    <li id="ENTJ" class="HowToSub">ENTJ</li>
                    <p class="type-describe">戦略的で目標志向的なリーダーシップを発揮します。論理的な分析力を活かし、効率的な結果を追求します。自己主張が強く、自らのビジョンを実現するために計画的に行動します。</p>
                    <img src="/contents/mycontents/typebot/images/types/ENTJ.JPG" class="type-img" alt="">
                </ul>
                <ul>
                    <li id="ENTP" class="HowToSub">ENTP</li>
                    <p class="type-describe">洞察力があり、論理的な思考力を活かして問題に取り組みます。柔軟性があり、常に新しいアイデアを模索し、挑戦的な環境で活躍します。自己主張が強く、自らのビジョンを実現します。</p>
                    <img src="/contents/mycontents/typebot/images/types/ENTP.JPG" class="type-img" alt="">
                </ul>
                <ul>
                    <li id="INFJ" class="HowToSub">INFJ</li>
                    <p class="type-describe">洞察力に優れ、深い理解と共感を持ちます。自己省察が深く、理想主義的な価値観に基づいて行動します。他人の成長と幸福を促進するリーダーシップを発揮し、社会的な変革を追求します。</p>
                    <img src="/contents/mycontents/typebot/images/types/INFJ.JPG" class="type-img" alt="">
                </ul>
                <ul>
                    <li id="INFP" class="HowToSub">INFP</li>
                    <p class="type-describe">独自の価値観に基づいて行動し、個性的で創造的なアプローチを取ります。他人の感情やニーズに敏感であり、深い共感と理解を示します。内面的な豊かさと自己表現の自由を大切にします。</p>
                    <img src="/contents/mycontents/typebot/images/types/INFP.JPG" class="type-img" alt="">
                </ul>
                <ul>
                    <li id="ENFJ" class="HowToSub">ENFJ</li>
                    <p class="type-describe">カリスマ性があり、他人を鼓舞し、サポートします。他人の成長と幸福を促進し、チームの調和と協力を促進します。自己表現が豊かで、理想主義的なビジョンを追求します。</p>
                    <img src="/contents/mycontents/typebot/images/types/ENFJ.JPG" class="type-img" alt="">
                </ul>
                <ul>
                    <li id="ENFP" class="HowToSub">ENFP</li>
                    <p class="type-describe">情熱的で創造的なリーダーシップを発揮します。柔軟性があり、新しいアイデアや可能性を追求します。他人を鼓舞し、ポジティブな雰囲気を作り出します。</p>
                    <img src="/contents/mycontents/typebot/images/types/ENFP.JPG" class="type-img" alt="">
                </ul>
                <ul>
                    <li id="ISTJ" class="HowToSub">ISTJ</li>
                    <p class="type-describe">忠実で責任感が強く、計画的かつ組織的に行動します。ルールや伝統を重んじ、確実な結果を追求します。信頼できるリーダーであり、安定と秩序を維持することに価値を見出します。</p>
                    <img src="/contents/mycontents/typebot/images/types/ISTJ.JPG" class="type-img" alt="">
                </ul>
                <ul>
                    <li id="ISFJ" class="HowToSub">ISFJ</li>
                    <p class="type-describe">献身的で思いやりがあり、他人のニーズを優先します。感情豊かでありながらも、実用的で現実的なアプローチを取ります。安定と調和を重視し、組織や家族のために努力します。</p>
                    <img src="/contents/mycontents/typebot/images/types/ISFJ.JPG" class="type-img" alt="">
                </ul>
                <ul>
                    <li id="ESTJ" class="HowToSub">ESTJ</li>
                    <p class="type-describe">組織的で信頼できるリーダーシップを発揮します。ルールや規則を重視し、組織の効率性を維持します。責任感が強く、計画的に行動します。</p>
                    <img src="/contents/mycontents/typebot/images/types/ESTJ.JPG" class="type-img" alt="">
                </ul>
                <ul>
                    <li id="ESFJ" class="HowToSub">ESFJ</li>
                    <p class="type-describe">社交的で思いやりがあり、他人のニーズを優先します。組織や家族のために献身的に尽力し、安定と調和を築きます。感情豊かでありながらも、現実的なアプローチを取ります。</p>
                    <img src="/contents/mycontents/typebot/images/types/ESFJ.JPG" class="type-img" alt="">
                </ul>
                <ul>
                    <li id="ISTP" class="HowToSub">ISTP</li>
                    <p class="type-describe">実用的で冷静な視点を持ち、問題解決において優れた能力を発揮します。リスクを冒すことを恐れず挑戦的ですが、自分のルールに従って行動する傾向があります。</p>
                    <img src="/contents/mycontents/typebot/images/types/ISTP.JPG" class="type-img" alt="">
                </ul>
                <ul>
                    <li id="ISFP" class="HowToSub">ISFP</li>
                    <p class="type-describe">繊細で芸術的な才能を持ち、感性豊かな生活を求めます。自己表現が豊かでありながらも、控えめで他人に配慮します。現実的でありながらも、自由な精神を大切にします。</p>
                    <img src="/contents/mycontents/typebot/images/types/ISFP.JPG" class="type-img" alt="">
                </ul>
                <ul>
                    <li id="ESTP" class="HowToSub">ESTP</li>
                    <p class="type-describe">冒険心があり、リスクを冒すことを恐れません。現実的でありながらも、臨機応変なアプローチで問題に取り組みます。活動的で楽観的であり、新しい体験や挑戦を楽しむことが好きです。</p>
                    <img src="/contents/mycontents/typebot/images/types/ESTP.JPG" class="type-img" alt="">
                </ul>
                <ul>
                    <li id="ESFP" class="HowToSub">ESFP</li>
                    <p class="type-describe">社交的で愉快なムードメーカーです。感情豊かでありながらも、現実的なアプローチを取ります。自己表現が豊かで、他人を楽しませることに喜びを見出します。</p>
                    <img src="/contents/mycontents/typebot/images/types/ESFP.JPG" class="type-img" alt="">
                </ul>

                <div class="space">&nbsp;</div>
                <span id="caution" class="option">Botが上手く動作しない場合</span>
                <p>Botが上手く動作しない場合以下を確認してみてください</p>
                <ul>
                    <li>Botの持つ権限が足りているか</li>
                    <li>チャンネルで個別に権限を設定している場合、当該チャンネルにおけるロールの権限が足りているか</li>
                </ul>

                <div class="space">&nbsp;</div>
                <span id="about-types" class="option">性格タイプに関して</span>
                <p>
                    Botから得られる性格タイプの診断結果はあなたの性格タイプを断定するものではありません。<br>
                    また、各性格タイプの解説文は医学的な根拠に基づいた情報ではありません。<br>
                    あくまでもアクティビティの一環としてお楽しみ下さい。
                </p>
            </h3>

        </div>

        <div class="side">
            <ul class="list">
                <li><a href="#intro">概要</a></li>
                <li><a href="#install">導入方法 </a></li>
                <li><a href="#comL">コマンドリスト</a></li>
                <li><a href="#types">各タイプ</a></li>
                <ol>
                    <li><a href="#INTJ">INTJ</a></li>
                    <li><a href="#INTP">INTP</a></li>
                    <li><a href="#ENTJ">ENTJ</a></li>
                    <li><a href="#ENTP">ENTP</a></li>
                    <li><a href="#INFJ">INFJ</a></li>
                    <li><a href="#INFP">INFP</a></li>
                    <li><a href="#ENFJ">ENFJ</a></li>
                    <li><a href="#ENFP">ENFP</a></li>
                    <li><a href="#ISTJ">ISTJ</a></li>
                    <li><a href="#ISFJ">ISFJ</a></li>
                    <li><a href="#ESTJ">ESTJ</a></li>
                    <li><a href="#ESFJ">ESFJ</a></li>
                    <li><a href="#ISTP">ISTP</a></li>
                    <li><a href="#ISFP">ISFP</a></li>
                    <li><a href="#ESTP">ESTP</a></li>
                    <li><a href="#ESFP">ESFP</a></li>
                </ol>  
                <li><a href="#caution">Botが上手く動作しない場合</a></li>
                <li><a href="#about-types">性格タイプに関して</a></li>
            </ul>
        </div>
    </div>
    <footer>© 2024 Naru. All Rights Reserved.</footer>
</body>
</html>
