::-webkit-scrollbar{
    width: 8px;
 }
::-webkit-scrollbar-track{
    background-color: #262d38;
 }
::-webkit-scrollbar-thumb{
    background-color: #53585e;
 }

html{
    height: 100%;
    scroll-behavior: smooth;
}

 body{
    background-color: rgba(255, 255, 255, 0.651);
    height: 100%;
    margin: 0px;
 }
 
#totop{
    width: 75px;
    border-radius: 13px;
    position:fixed; 
    bottom:5px; 
    right:15%;
}

header{
    width: 86%;
    top: 0;
    background-color: #2f394e;
    height: 58px;
    position: fixed;
    margin-right: 14%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1{
    text-align: left;
    margin-left: 3%;
    color: white;
    font-size: 170%;
}

.stat{
    display: flex;
    right: 0px;
    font-size: 25px;
    margin-right: 3%;
    color: white;
}

#submit{
    width: fit-content;
    font-size: 23px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #d6fff8;
    border-radius: 17px;
}

#submit:hover{
    background-color: #88a19d;
}


 .container{
    margin-top: 80px;
    height: 100%;
    display: flex;
    justify-content:flex-start;
 }

 .contents {
    background-color: #ffffff;
    height: fit-content;
    width: 80%;
    margin-right: 16%;
    margin-left: 2%;
    padding: 20px;
 }

.qTag{
    font-size: 160%;
    font-weight: bold;
}

.question{
    font-size: 150%;
    
  }

  .answer{
    text-align: right;
    margin-bottom: 3%;
  }

.side {
    background-color: #dfdbdb;
    height: 100%;
    width: 14%;
    padding: 5px;
    position: fixed;
    top: 0px;
    right: 0;
 }
 
 .listTitle{
    margin: 0 auto;
    margin-top: 5px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 23px;
    background-color: rgb(20, 17, 27);
    border-radius: 15px;
    width:fit-content;
    font-weight: bold;
    color: aliceblue;
 }

.list{
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: normal;
    height: 63%;
    padding-left: 13px;
    padding-right: 5px;
    margin-top: 20px;
    list-style: none;
    font-size: 20px;
}

.list ul{
    list-style: none;
}

.list a{
    color: rgb(65, 65, 65);
}

.list li{
    margin-top: 10px;
}

.list li:hover{
    background-color: #96b1ac;
    padding-left: 10px;
    font-size: 110%;
}

.naruneko{
    margin-top: 0px;
    width: 70%;
    margin-left: 13%;
}